<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="innominatebit.srmite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/srmite"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AttendanceGenie" />
        <activity android:name=".ContactUs" />
        <activity android:name=".MeetTheDevelopers" />
        <activity android:name=".DonateUs" />
        <activity android:name=".AdvertismentActivity" />
        <activity
            android:name=".SGPA"
            android:label="@string/title_activity_sgpa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CGPA"></activity>
    </application>

</manifest>